<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Orion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Orion.Properties.Settings>
      <setting name="App_UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="App_UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="App_UserRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_Language" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Default_Language" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_Conn_string" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Default_Conn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_ItemDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_CustomerDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Port_Name" serializeAs="String">
        <value />
      </setting>
    </Orion.Properties.Settings>
  </userSettings>
</configuration>